@tailwind base;
@tailwind components;
@tailwind utilities;

/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  margin: 0;
  font-family: 'Electrolize', 'sans-serif';
}

.ant-btn-primary {
  background-color: #1677ff;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
    @apply bg-gray-50
  }

  .menu-link .anticon {
    display: flex;
    justify-content:  center;
  }


  .categories::-webkit-scrollbar {
    display: none;
  }
  .products::-webkit-scrollbar {
    display: none;
  }
}